.container {
  width: 800px;
  border: 1px solid black;
  margin: auto;
  padding: 5px;
}

.satu,
.dua,
.tiga {
  width: 100px;
  height: 100px;
}

.satu {
  background-color: red;
}

.dua {
  background-color: green;
  float: right;
}

.tiga {
  background-color: blue;
}